body {
    background-color: #684BB1;
    height: 100%;
    padding: 2em 3em;
    background-image: url(images/bg-desktop.svg);
    margin: 0;
}

body>svg {
    position: absolute;
    overflow: hidden;
    z-index: -1;
    top: -5px;
}

body > section  {
    display: flex;
    flex-direction: row;
}

body > section div img {
    max-width: 45vw;
    padding-top: 3em;
}

body > section article {
    padding: 6em 0 0 5em;
    max-width: 40%;
}

body > section article h1 {
    font-family: "Poppins";
    font-weight: 700;
    color: #fff;
    margin: .5em 0;
    font-size:2.5em;
}

body > section p {
    font-family: "Open sans";
    color: #fff;
}

body > section p:last-of-type {
    margin-top: 3em;
}

body > section a {
    font-family: "Open sans";
    background-color: #fff;
    color: hsl(257, 40%, 49%);
    text-decoration: none;
    padding: 1em 4em;
    border-radius: 30px;
    box-shadow: 0px 6px rgba(0, 0, 0, 0.1);
    transition-duration: .4s;
    border:1px solid transparent;
}

body > section a:hover {
    background-color:transparent;
    color:#fff;
    border:1px solid #fff;
}

body > section ul {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-top:10em;
    padding-inline-start: 0;
}

body > section ul li {
    list-style: none;
    margin:0 .5em;
}

body > section ul li i {
    color: #fff;
    font-size: 1.1em;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: .7em;
}

body footer {
    font-family: "Poppins";
    margin-top:5em;
}

@media (max-width:1100px) {

    body {
        background-image: url(images/bg-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    body > section {
        flex-direction: column;
        text-align: center;
    }

    body > section article {
        padding: 3em 0 0 0;
        max-width: 60%;
        margin: 0 auto;
    }

    body > section div:last-child {
        padding: 2em 5em;
    }

    body > section ul {
        justify-content: center;
        margin-top:5em;
    }
}

@media (max-width:850px) {

    body > section article {
        padding:0;
        max-width: 100%;
    }
}