* {
    box-sizing: border-box;
}

body {
    margin: 0
}

/* First Section */

body > section:first-child {
    text-align: center;
    font-family: "Poppins";
    padding: 3em;
}

body > section:first-child h1 {
    color: hsl(229, 6%, 66%);
    font-weight: 200;
    margin: 0;
    font-size: 3em;
}

body > section:first-child h2 {
    font-weight: 600;
    color: hsl(234, 12%, 34%);
    margin: 0;
    font-size: 3em;
}

body > section:first-child p {
    max-width: 40%;
    margin: 0 auto;
    color: hsl(229, 6%, 66%);
    padding-top: 1em;
    font-weight: 400;
}

/* Cards Section */
body > section:nth-child(2) {
    display: flex;
    align-content: center;
    justify-content: center;
}

body > section:nth-child(2) > div {
    width: 400px;
    margin:0;
}

body > section:nth-child(2) > div:first-child,
body > section:nth-child(2) > div:last-child {
    position: relative;
    top: 100px;
}

body > section:nth-child(2) article {
    background-color: #fff;
    font-family: "Poppins";
    border-radius: 10px;
    box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.3);
    width: 80%;
    padding: .5em 1.5em;
    margin: 2em auto;
}

body > section:nth-child(2) article h3 {
    font-weight: 600;
}

body > section:nth-child(2) article p {
    color: hsl(229, 6%, 66%);
}

body > section:nth-child(2) article p:last-of-type {
    text-align: right;
}

body > section:nth-child(2) div:nth-child(2) article:first-child  {
    border-top: 5px solid hsl(0, 78%, 62%);
}

body > section:nth-child(2) div:last-child article:last-child {
    border-top: 5px solid hsl(212, 86%, 64%);
}

body > section:nth-child(2) div:nth-child(2) article:last-child {
    border-top: 5px solid hsl(34, 97%, 64%);
}

body > section:nth-child(2) div:first-child article {
    border-top: 5px solid hsl(180, 62%, 55%);
}

footer {
    text-align: center;
    font-family: "Poppins";
}

@media (max-width:800px) {

    body > section:first-child p {
        max-width: 80%;
    }

    body > section:nth-child(2) {
        flex-direction: column;
        align-items: center;
    }

    body > section:nth-child(2) > div:first-child,
    body > section:nth-child(2) > div:last-child {
        top: 0;
    }

    body > section:nth-child(2) > div:first-child article,
    body > section:nth-child(2) > div:last-child article {
        margin: 0 auto;
    }
}